$font-family: "Poppins";

$black: #22292f;
$white: #ffffff;

$grass-bg: #b5eaaf;
$grass-label: #4fb443;

$bug-bg: #d4dfa7;
$bug-label: #889e2a;

$dragon-bg: #b9b9fc;
$dragon-label: #3b3bbb;

$fairy-bg: #fdf;
$fairy-label: #f9a8ef;

$fire-bg: #ffc8a9;
$fire-label: #e76b2f;

$ghost-bg: #cbc1e8;
$ghost-label: #65539d;

$ground-bg: #ecd8b4;
$ground-label: #b7904b;

$normal-bg: #e4e0cf;
$normal-label: #afa485;

$psychic-bg: #ffcbde;
$psychic-label: #f5779e;

$steel-bg: #d9d7e5;
$steel-label: #908da9;

$dark-bg: #c9c0c0;
$dark-label: #5e4c4c;

$electric-bg: #ffe9a7;
$electric-label: #f4c234;

$fighting-bg: #e7bdb8;
$fighting-label: #9b4840;

$flying-bg: #cbdeff;
$flying-label: #7a9ff2;

$water-bg: #afd9ff;
$water-label: #3a8be9;

$ice-bg: #afd9ff;
$ice-label: #3a8be9;

$poison-bg: #e6c2ef;
$poison-label: #a15ab1;

$rock-bg: #ecd8b4;
$rock-label: #b7904b;

$font-size-sm: .875rem;

$spacing1: .25rem;
$spacing2: .5rem;
$spacing3: .75rem;
$spacing4: 1rem;
$spacing5: 1.25rem;