@import "./variables";

html, body{
    font-family: $font-family;
    font-size: 16px;
    color: $black;
}

.page-content{
    padding: $spacing3 $spacing5 0;
}

.button {
	padding: $spacing3 $spacing5;
	font-weight: bold;
	line-height: 1;
	font-size: $font-size-sm;
}

.button-icon {
	color: $black;
	position: relative;
}

.color-bg-grass{
    background-color: $grass-bg;
}
.color-label-grass{
    background-color: $grass-label;
}

.color-bg-bug{
    background-color: $bug-bg;
}
.color-label-bug{
    background-color: $bug-label;
}

.color-bg-dragon{
    background-color: $dragon-bg;
}
.color-label-dragon{
    background-color: $dragon-label;
}

.color-bg-fairy{
    background-color: $fairy-bg;
}
.color-label-fairy{
    background-color: $fairy-label;
}

.color-bg-fire{
    background-color: $fire-bg;
}
.color-label-fire{
    background-color: $fire-label;
}

.color-bg-ghost{
    background-color: $ghost-bg;
}
.color-label-ghost{
    background-color: $ghost-label;
}

.color-bg-ground{
    background-color: $ground-bg;
}
.color-label-ground{
    background-color: $ground-label;
}

.color-bg-normal{
    background-color: $normal-bg;
}
.color-label-normal{
    background-color: $normal-label;
}

.color-bg-psychic{
    background-color: $psychic-bg;
}
.color-label-psychic{
    background-color: $psychic-label;
}

.color-bg-steel{
    background-color: $steel-bg;
}
.color-label-steel{
    background-color: $steel-label;
}

.color-bg-dark{
    background-color: $dark-bg;
}
.color-label-dark{
    background-color: $dark-label;
}

.color-bg-electric{
    background-color: $electric-bg;
}
.color-label-electric{
    background-color: $electric-label;
}

.color-bg-fighting{
    background-color: $fighting-bg;
}
.color-label-fighting{
    background-color: $fighting-label;
}

.color-bg-flying{
    background-color: $flying-bg;
}
.color-label-flying{
    background-color: $flying-label;
}

.color-bg-water{
    background-color: $water-bg;
}
.color-label-water{
    background-color: $water-label;
}

.color-bg-ice{
    background-color: $ice-bg;
}
.color-label-ice{
    background-color: $ice-label;
}

.color-bg-poison{
    background-color: $poison-bg;
}
.color-label-poison{
    background-color: $poison-label;
}

.color-bg-rock{
    background-color: $rock-bg;
}
.color-label-rock{
    background-color: $rock-label;
}

.pokemon-wrapper-label{
    padding: 0;
    margin: 0;

    li{
        list-style-type: none;
        display: inline-block;
        // background-color: $black;
        margin-right: 5px;
        border-radius: 15px;
        padding: 4px 7px;
        font-size: .7rem;
        font-weight: 500;
        color: $white;
        text-transform: capitalize;
    }
}

ol, ul {
	list-style: none;
}

fieldset, ol, ul {
	margin: 0;
	padding: 0;
}

.statbar {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.statbar > :first-child {
	display: flex;
	margin-bottom: .2rem;
}
.statbar__label {
	flex: 1 1;
	margin-right: .5rem;
	color: #4a5568;
    text-transform: capitalize;
}
.statbar__value {
	flex: none;
    text-transform: capitalize;
}
.statbar__bar, .statbar__bar__value {
	height: .5rem;
	border-radius: .5rem;
}
.statbar__bar {
	width: 100%;
	background-color: #cbd5e0;
	position: relative;
}
.statbar__bar__value {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #3182ce;
}