@import "./variables";

html, body{
    font-family: $font-family;
    font-size: 16px;
    color: $black;
}

.button {
	padding: $spacing3 $spacing4;
	font-weight: bold;
	line-height: 1;
	font-size: $font-size-sm;
}

.button-icon {
	color: $black;
	position: relative;
}